<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <table class="table">
                <tr>
                    <td scope="col">#</td>
                    <th scope="col">Denumire </th>
                    <th scope="col">Descriere</th>
                </tr>
                {%  set i = 0 %}
                {%  for service in services %}
                    {%  set i = i + 1 %}
                    <tr>
                        <th scope="row">{{ i }}</th>
                        <td>{{ service.name }}</td>
                        <td>{{ service.description}}</td>
                        <td><a href="{{ path('service_edit', {'id': service.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a></td>
                        <td>
                            <a href="#"
                               class="btn btn-link btn-xs pull-right js-remove-property"
                               data-url="{{ path('service_delete', {
                                   id: service.id,
                               }) }}"
                            >
                                <span class="fa fa-trash" style="color:palevioletred; font-size:24px"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>
