{{ form_start(lookForService) }}
    {{ form_row(lookForService.service,{
        attr: {
        'data-sub-service-url': path('sub_service_select'),
        class: 'js-service-form'
        }}) }}

    <div class="js-sub-service-target">
        {% if selectServiceForm.subService is defined %}
            {{ form_row(selectServiceForm.subServices) }}
        {% endif %}
    </div>
    {{ form_row(lookForService.country) }}
    {{ form_row(lookForService.city) }}

<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(lookForService) }}